In [1]:
#Задание 1.3
#Для датасета California Housing:
#Разбейте датасет на тренировочную, валидационную и тестовую выборку
#Проведите преобразование категориального признака ocean_proximity через OneHot или Dummy-кодировку
#Замените признаки total_rooms и total_bedrooms на average_rooms и average_bedrooms (поделив на households).
#В признаке average_bedrooms (total_bedrooms) есть отсутствующие значения. 
#Определите число экземпляров данных, для которых этот признак отсутствует. 
#Придумайте и обоснуйте стратегию заполнения пропусков в этой задаче. Заполните пропуски.
#Нормализуйте признаки longitude и latitude (сделайте так, чтобы каждый признак имел среднее значение 0 и дисперсию 1 внутри обучающей выборки)

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [3]:
housing_df = pd.read_csv('CSV_files/housing.csv')
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
#Преобразование категориального признака ocean_proximity через Dummy-кодировку
DUMMY_SEP = '__'  #Сепаратор

housing_df = pd.get_dummies(housing_df, columns = ['ocean_proximity'], prefix_sep = DUMMY_SEP)
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0,0

In [5]:
#Замена признаков total_rooms и total_bedrooms на average_rooms и average_bedrooms (поделив на households)
housing_df['average_rooms'] = housing_df['total_rooms'] / housing_df['households']
housing_df['average_bedrooms'] = housing_df['total_bedrooms'] / housing_df['households']

housing_df = housing_df.drop('total_rooms', axis = 1)
housing_df = housing_df.drop('total_bedrooms', axis = 1)

housing_df.head(294)
#Пример: признак отсутствует у поля 290

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
0,-122.23,37.88,41.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0,6.984127,1.023810
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0,6.238137,0.971880
2,-122.24,37.85,52.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0,8.288136,1.073446
3,-122.25,37.85,52.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0,5.817352,1.073059
4,-122.25,37.85,52.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0,6.281853,1.081081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,-122.17,37.78,52.0,296.0,121.0,4.1750,144000.0,0,0,0,1,0,5.396694,1.057851
290,-122.16,37.77,47.0,570.0,218.0,4.3750,161900.0,0,0,0,1,0,5.761468,NaN
291,-122.16,37.77,48.0,446.0,180.0,4.7708,156300.0,0,0,0,1,0,5.427778,1.077778
292,-122.16,37.77,45.0,968.0,384.0,3.5739,176000.0,0,0,0,1,0,6.052083,1.033854
293,-122.16,37.77,39.0,857.0,316.0,3.0958,145800.0,0,0,0,1,0,5.009494,1.104430

In [6]:
#Определить число экземпляров данных, для которых отсутствует признак average_bedrooms
average_bedrooms_null = sum(housing_df['average_bedrooms'].isnull())

In [7]:
average_bedrooms_null

207

In [8]:
#Придумать и обосновать стратегию заполнения пропусков. Заполнить пропуски.

#Новый дата-сет без данных с отсутствующим 'average_bedrooms', а также без признака 'median_house_value'
housing_df_new = housing_df.dropna(axis = 0)  
housing_df_new = housing_df_new.drop('median_house_value', axis = 1)

housing_df_new

,longitude,latitude,housing_median_age,population,households,median_income,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
0,-122.23,37.88,41.0,322.0,126.0,8.3252,0,0,0,1,0,6.984127,1.023810
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,0,0,0,1,0,6.238137,0.971880
2,-122.24,37.85,52.0,496.0,177.0,7.2574,0,0,0,1,0,8.288136,1.073446
3,-122.25,37.85,52.0,558.0,219.0,5.6431,0,0,0,1,0,5.817352,1.073059
4,-122.25,37.85,52.0,565.0,259.0,3.8462,0,0,0,1,0,6.281853,1.081081
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,845.0,330.0,1.5603,0,1,0,0,0,5.045455,1.133333
20636,-121.21,39.49,18.0,356.0,114.0,2.5568,0,1,0,0,0,6.114035,1.315789
20637,-121.22,39.43,17.0,1007.0,433.0,1.7000,0,1,0,0,0,5.205543,1.120092
20638,-121.32,39.43,18.0,741.0,349.0,1.8672,0,1,0,0,0,5.329513,1.171920
20639,-121.24,39.37,16.0,1387.0,530.0,2.3886,0,1,0,0,0,5.254717,1.162264

In [9]:
#Разбиение нового дата-сета на тренировочную и тестовую выборку
housing_train_df_new, housing_test_df_new =  train_test_split(housing_df_new, test_size = 0.1)

x_train_df = housing_train_df_new.drop('average_bedrooms', axis = 1)  #Вход для тренировочной
y_train_df = housing_train_df_new['average_bedrooms']   #Выход для тренировочной

x_test_df = housing_test_df_new.drop('average_bedrooms', axis = 1)   #Вход для тестовой
y_test_df = housing_test_df_new['average_bedrooms']    #Выход для тестовой

#Модель линейной регрессии
linear_regression_model = LinearRegression()

#Обучение модели с помощью fit
linear_regression_model.fit(x_train_df, y_train_df)

LinearRegression()

In [10]:
mean_squared_error(y_train_df, linear_regression_model.predict(x_train_df))

0.03133654263502933

In [11]:
mean_squared_error(y_test_df, linear_regression_model.predict(x_test_df))

0.0235609813516326

In [12]:
#Записи, для которых отсутсвтует признак 'average_bedrooms' (только столбец 'average_bedrooms', булевые значения)
housing_df_blank_bool = housing_df['average_bedrooms'].isnull()
housing_df_blank_bool

0        False
1        False
2        False
3        False
4        False
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Name: average_bedrooms, Length: 20640, dtype: bool

In [13]:
#Полные записи, для которых отсутсвтует признак 'average_bedrooms'
housing_df_blank = housing_df.loc[housing_df_blank_bool]
housing_df_blank

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
290,-122.16,37.77,47.0,570.0,218.0,4.3750,161900.0,0,0,0,1,0,5.761468,NaN
341,-122.17,37.75,38.0,732.0,259.0,1.6196,85100.0,0,0,0,1,0,3.830116,NaN
538,-122.28,37.78,29.0,3741.0,1273.0,2.5762,173400.0,0,0,0,1,0,4.048704,NaN
563,-122.24,37.75,45.0,384.0,146.0,4.9489,247100.0,0,0,0,1,0,6.102740,NaN
696,-122.10,37.69,41.0,387.0,161.0,3.9063,178400.0,0,0,0,1,0,4.633540,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3171.0,779.0,3.3409,220500.0,0,0,0,0,1,4.646983,NaN
20268,-119.18,34.19,19.0,1938.0,762.0,1.6953,167400.0,0,0,0,0,1,3.140420,NaN
20372,-118.88,34.17,15.0,1701.0,669.0,5.1033,410700.0,1,0,0,0,0,6.367713,NaN
20460,-118.75,34.29,17.0,2734.0,814.0,6.6073,258100.0,1,0,0,0,0,6.771499,NaN
20484,-118.72,34.28,17.0,1705.0,495.0,5.7376,218600.0,1,0,0,0,0,6.163636,NaN

In [14]:
#Отбрасываем признаки 'median_house_value' и 'average_bedrooms'
housing_df_blank = housing_df_blank.drop(['median_house_value', 'average_bedrooms'], axis = 1)
housing_df_blank

,longitude,latitude,housing_median_age,population,households,median_income,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms
290,-122.16,37.77,47.0,570.0,218.0,4.3750,0,0,0,1,0,5.761468
341,-122.17,37.75,38.0,732.0,259.0,1.6196,0,0,0,1,0,3.830116
538,-122.28,37.78,29.0,3741.0,1273.0,2.5762,0,0,0,1,0,4.048704
563,-122.24,37.75,45.0,384.0,146.0,4.9489,0,0,0,1,0,6.102740
696,-122.10,37.69,41.0,387.0,161.0,3.9063,0,0,0,1,0,4.633540
...,...,...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3171.0,779.0,3.3409,0,0,0,0,1,4.646983
20268,-119.18,34.19,19.0,1938.0,762.0,1.6953,0,0,0,0,1,3.140420
20372,-118.88,34.17,15.0,1701.0,669.0,5.1033,1,0,0,0,0,6.367713
20460,-118.75,34.29,17.0,2734.0,814.0,6.6073,1,0,0,0,0,6.771499
20484,-118.72,34.28,17.0,1705.0,495.0,5.7376,1,0,0,0,0,6.163636

In [15]:
#Заполнение пропусков в задаче
#Массив полученных с помощью регрессии данных для заполнения 207 пустых значений
predictions_av_berooms = linear_regression_model.predict(housing_df_blank)

In [16]:
housing_df.loc[housing_df_blank_bool, 'average_bedrooms'] = predictions_av_berooms

In [17]:
housing_df.head(294)
#Пример для поля 290, заполнилось значением 1.125593

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
0,-122.23,37.88,41.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0,6.984127,1.023810
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0,6.238137,0.971880
2,-122.24,37.85,52.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0,8.288136,1.073446
3,-122.25,37.85,52.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0,5.817352,1.073059
4,-122.25,37.85,52.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0,6.281853,1.081081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,-122.17,37.78,52.0,296.0,121.0,4.1750,144000.0,0,0,0,1,0,5.396694,1.057851
290,-122.16,37.77,47.0,570.0,218.0,4.3750,161900.0,0,0,0,1,0,5.761468,1.127572
291,-122.16,37.77,48.0,446.0,180.0,4.7708,156300.0,0,0,0,1,0,5.427778,1.077778
292,-122.16,37.77,45.0,968.0,384.0,3.5739,176000.0,0,0,0,1,0,6.052083,1.033854
293,-122.16,37.77,39.0,857.0,316.0,3.0958,145800.0,0,0,0,1,0,5.009494,1.104430

In [18]:
#Разбиение датасета на тренировочную, валидационную и тестовую выборку:
housing_train_val, housing_test = train_test_split(housing_df, test_size = 0.1)
housing_train, housing_val = train_test_split(housing_train_val, test_size = 0.1)

In [19]:
#Нормализация признаков longitude и latitude:
#(сделать так, чтобы каждый признак имел среднее значение 0 и дисперсию 1 внутри обучающей выборки)

#Для нормализации данных можно воспользоваться функцией StandardScaler из sklearn.preprocessing. 
#Данные преобразуются так, что их распределение имеет среднее значение 0 и стандартное отклонение 1 (корень из дисперсии).

housing_train[['longitude', 'latitude']] = StandardScaler().fit_transform(housing_train[['longitude', 'latitude']])

housing_test[['longitude', 'latitude']] = StandardScaler().fit_transform(housing_test[['longitude', 'latitude']])

housing_val[['longitude', 'latitude']] = StandardScaler().fit_transform(housing_val[['longitude', 'latitude']])

print("Для признака longitude. Среднее значение тренировочной выборки равно: " + str(housing_train['longitude'].to_numpy().mean(axis = 0)))
print("Для признака longitude. Стандартное отклонение тренировочной выборки равно: " + str(housing_train['longitude'].to_numpy().std(axis = 0)))
print("\n")
print("Для признака latitude. Среднее значение тренировочной выборки равно: " + str(housing_train['latitude'].to_numpy().mean(axis = 0)))
print("Для признака latitude. Стандартное отклонение тренировочной выборки равно: " + str(housing_train['latitude'].to_numpy().std(axis = 0)))

Для признака longitude. Среднее значение тренировочной выборки равно: 2.24281254731789e-15
Для признака longitude. Стандартное отклонение тренировочной выборки равно: 1.0


Для признака latitude. Среднее значение тренировочной выборки равно: -2.658478772687778e-16
Для признака latitude. Стандартное отклонение тренировочной выборки равно: 1.0

In [20]:
housing_train

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
11014,0.872850,-0.877205,27.0,1193.0,448.0,6.5308,287800.0,1,0,0,0,0,7.209821,1.002232
5827,0.633313,-0.676146,51.0,586.0,231.0,4.3750,332400.0,1,0,0,0,0,6.502165,1.051948
17165,-1.322903,0.806078,34.0,600.0,242.0,8.7382,500001.0,0,0,0,0,1,6.442149,1.004132
2792,0.588400,0.806078,38.0,902.0,396.0,2.3261,98400.0,0,1,0,0,0,4.578283,1.035354
18702,-1.382788,2.307005,24.0,748.0,307.0,2.6591,82800.0,0,1,0,0,0,5.244300,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14727,1.277068,-1.330756,33.0,1864.0,664.0,4.3152,159300.0,1,0,0,0,0,6.046687,0.998494
11706,-0.244988,1.614989,30.0,316.0,124.0,2.1987,124000.0,0,1,0,0,0,24.024194,4.701613
10841,0.827937,-0.909935,30.0,1289.0,423.0,5.2815,229500.0,1,0,0,0,0,6.392435,1.007092
2348,-0.060345,0.544234,31.0,1306.0,418.0,3.2813,68700.0,0,1,0,0,0,6.162679,1.095694
10573,0.962676,-0.914611,4.0,2677.0,938.0,6.5069,243400.0,1,0,0,0,0,6.062900,1.034115