In [1]:
#Задание 1.3
#Для датасета California Housing:
#Разбейте датасет на тренировочную, валидационную и тестовую выборку
#Проведите преобразование категориального признака ocean_proximity через OneHot или Dummy-кодировку
#Замените признаки total_rooms и total_bedrooms на average_rooms и average_bedrooms (поделив на households).
#В признаке average_bedrooms (total_bedrooms) есть отсутствующие значения. 
#Определите число экземпляров данных, для которых этот признак отсутствует. 
#Придумайте и обоснуйте стратегию заполнения пропусков в этой задаче. Заполните пропуски.
#Нормализуйте признаки longitude и latitude (сделайте так, чтобы каждый признак имел среднее значение 0 и дисперсию 1 внутри обучающей выборки)

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [3]:
housing_df = pd.read_csv('CSV_files/housing.csv')
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
#Преобразование категориального признака ocean_proximity через Dummy-кодировку
DUMMY_SEP = '__'  #Сепаратор

housing_df = pd.get_dummies(housing_df, columns = ['ocean_proximity'], prefix_sep = DUMMY_SEP)
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0,0

In [5]:
#Замена признаков total_rooms и total_bedrooms на average_rooms и average_bedrooms (поделив на households)
housing_df['average_rooms'] = housing_df['total_rooms'] / housing_df['households']
housing_df['average_bedrooms'] = housing_df['total_bedrooms'] / housing_df['households']

housing_df = housing_df.drop('total_rooms', axis = 1)
housing_df = housing_df.drop('total_bedrooms', axis = 1)

housing_df.head(294)
#Пример: признак отсутствует у поля 290

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
0,-122.23,37.88,41.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0,6.984127,1.023810
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0,6.238137,0.971880
2,-122.24,37.85,52.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0,8.288136,1.073446
3,-122.25,37.85,52.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0,5.817352,1.073059
4,-122.25,37.85,52.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0,6.281853,1.081081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,-122.17,37.78,52.0,296.0,121.0,4.1750,144000.0,0,0,0,1,0,5.396694,1.057851
290,-122.16,37.77,47.0,570.0,218.0,4.3750,161900.0,0,0,0,1,0,5.761468,NaN
291,-122.16,37.77,48.0,446.0,180.0,4.7708,156300.0,0,0,0,1,0,5.427778,1.077778
292,-122.16,37.77,45.0,968.0,384.0,3.5739,176000.0,0,0,0,1,0,6.052083,1.033854
293,-122.16,37.77,39.0,857.0,316.0,3.0958,145800.0,0,0,0,1,0,5.009494,1.104430

In [6]:
#Определить число экземпляров данных, для которых отсутствует признак average_bedrooms
average_bedrooms_blank = sum(housing_df['average_bedrooms'].isnull())
average_bedrooms_blank

207

In [7]:
#Придумать и обосновать стратегию заполнения пропусков. Заполнить пропуски.

#Новый дата-сет без данных с отсутствующим 'average_bedrooms', а также без признака 'median_house_value'
housing_df_new = housing_df.dropna(axis = 0)  
housing_df_new = housing_df_new.drop('median_house_value', axis = 1)

housing_df_new

,longitude,latitude,housing_median_age,population,households,median_income,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
0,-122.23,37.88,41.0,322.0,126.0,8.3252,0,0,0,1,0,6.984127,1.023810
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,0,0,0,1,0,6.238137,0.971880
2,-122.24,37.85,52.0,496.0,177.0,7.2574,0,0,0,1,0,8.288136,1.073446
3,-122.25,37.85,52.0,558.0,219.0,5.6431,0,0,0,1,0,5.817352,1.073059
4,-122.25,37.85,52.0,565.0,259.0,3.8462,0,0,0,1,0,6.281853,1.081081
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,845.0,330.0,1.5603,0,1,0,0,0,5.045455,1.133333
20636,-121.21,39.49,18.0,356.0,114.0,2.5568,0,1,0,0,0,6.114035,1.315789
20637,-121.22,39.43,17.0,1007.0,433.0,1.7000,0,1,0,0,0,5.205543,1.120092
20638,-121.32,39.43,18.0,741.0,349.0,1.8672,0,1,0,0,0,5.329513,1.171920
20639,-121.24,39.37,16.0,1387.0,530.0,2.3886,0,1,0,0,0,5.254717,1.162264

In [8]:
#Разбиение нового дата-сета на тренировочную и тестовую выборку
housing_train_df_new, housing_test_df_new =  train_test_split(housing_df_new, test_size = 0.1)

x_train_df = housing_train_df_new.drop('average_bedrooms', axis = 1)  #Вход для тренировочной
y_train_df = housing_train_df_new['average_bedrooms']   #Выход для тренировочной

x_test_df = housing_test_df_new.drop('average_bedrooms', axis = 1)   #Вход для тестовой
y_test_df = housing_test_df_new['average_bedrooms']    #Выход для тестовой

#Модель линейной регрессии
linear_regression_model = LinearRegression()

#Обучение модели с помощью fit
linear_regression_model.fit(x_train_df, y_train_df)

LinearRegression()

In [20]:
#Оценка регрессионной модели
np.sqrt(mean_squared_error(y_train_df, linear_regression_model.predict(x_train_df)))

0.17683985843041417

In [10]:
#Записи, для которых отсутсвтует признак 'average_bedrooms' (только столбец 'average_bedrooms', булевые значения)
housing_df_blank_bool = housing_df['average_bedrooms'].isnull()
housing_df_blank_bool

0        False
1        False
2        False
3        False
4        False
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Name: average_bedrooms, Length: 20640, dtype: bool

In [11]:
#Полные записи, для которых отсутсвтует признак 'average_bedrooms'
housing_df_blank = housing_df.loc[housing_df_blank_bool]
housing_df_blank

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
290,-122.16,37.77,47.0,570.0,218.0,4.3750,161900.0,0,0,0,1,0,5.761468,NaN
341,-122.17,37.75,38.0,732.0,259.0,1.6196,85100.0,0,0,0,1,0,3.830116,NaN
538,-122.28,37.78,29.0,3741.0,1273.0,2.5762,173400.0,0,0,0,1,0,4.048704,NaN
563,-122.24,37.75,45.0,384.0,146.0,4.9489,247100.0,0,0,0,1,0,6.102740,NaN
696,-122.10,37.69,41.0,387.0,161.0,3.9063,178400.0,0,0,0,1,0,4.633540,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3171.0,779.0,3.3409,220500.0,0,0,0,0,1,4.646983,NaN
20268,-119.18,34.19,19.0,1938.0,762.0,1.6953,167400.0,0,0,0,0,1,3.140420,NaN
20372,-118.88,34.17,15.0,1701.0,669.0,5.1033,410700.0,1,0,0,0,0,6.367713,NaN
20460,-118.75,34.29,17.0,2734.0,814.0,6.6073,258100.0,1,0,0,0,0,6.771499,NaN
20484,-118.72,34.28,17.0,1705.0,495.0,5.7376,218600.0,1,0,0,0,0,6.163636,NaN

In [12]:
#Отбрасываем признаки 'median_house_value' и 'average_bedrooms'
housing_df_blank = housing_df_blank.drop(['median_house_value', 'average_bedrooms'], axis = 1)
housing_df_blank

,longitude,latitude,housing_median_age,population,households,median_income,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms
290,-122.16,37.77,47.0,570.0,218.0,4.3750,0,0,0,1,0,5.761468
341,-122.17,37.75,38.0,732.0,259.0,1.6196,0,0,0,1,0,3.830116
538,-122.28,37.78,29.0,3741.0,1273.0,2.5762,0,0,0,1,0,4.048704
563,-122.24,37.75,45.0,384.0,146.0,4.9489,0,0,0,1,0,6.102740
696,-122.10,37.69,41.0,387.0,161.0,3.9063,0,0,0,1,0,4.633540
...,...,...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3171.0,779.0,3.3409,0,0,0,0,1,4.646983
20268,-119.18,34.19,19.0,1938.0,762.0,1.6953,0,0,0,0,1,3.140420
20372,-118.88,34.17,15.0,1701.0,669.0,5.1033,1,0,0,0,0,6.367713
20460,-118.75,34.29,17.0,2734.0,814.0,6.6073,1,0,0,0,0,6.771499
20484,-118.72,34.28,17.0,1705.0,495.0,5.7376,1,0,0,0,0,6.163636

In [13]:
#Заполнение пропусков в задаче
#Массив полученных с помощью регрессии данных для заполнения 207 пустых значений
predictions_av_bedrooms = linear_regression_model.predict(housing_df_blank)
predictions_av_bedrooms

array([1.12730394, 1.03757784, 0.99444058, 1.13054254, 0.95585813,
       1.13061528, 1.05983303, 0.97820044, 1.05473079, 1.21806462,
       1.12240989, 0.96076328, 1.12757129, 1.06900709, 0.98855966,
       1.14971384, 1.00629934, 1.00082312, 0.88685685, 1.30600217,
       1.17112297, 1.2572589 , 1.19168045, 1.10377745, 1.88003143,
       1.10584615, 0.8920537 , 0.83584963, 1.09304907, 0.93334386,
       1.0714374 , 1.0617338 , 1.10184211, 1.15108688, 0.70514129,
       1.16486198, 0.93147231, 0.91317596, 0.78590197, 1.03466105,
       0.83513173, 1.00359958, 0.9036325 , 0.77522183, 0.81688955,
       0.82417713, 0.81549716, 1.01429949, 0.71720464, 1.18470258,
       1.18189443, 0.99058292, 1.40879389, 1.14309036, 1.07204538,
       1.18677411, 0.9382943 , 1.04984471, 1.02262247, 1.07021462,
       0.98425326, 0.97365196, 1.04984562, 1.19143318, 1.14424887,
       1.19055519, 1.10184637, 1.11762827, 0.98204951, 1.0491586 ,
       1.04369038, 0.6331316 , 0.98344077, 0.89070328, 0.99448097,
       1.22792516, 1.1688441 , 0.98171027, 0.89035895, 0.93367728,
       0.92570375, 0.88865353, 1.14397985, 1.06126755, 1.06156202,
       1.19068906, 0.94245219, 1.21631913, 0.96466498, 1.17284361,
       1.04361932, 1.24401853, 1.08616608, 1.23488648, 1.09981398,
       1.14971637, 0.85705328, 1.01824588, 1.20086409, 1.24960053,
       1.09817022, 1.02279789, 0.87701522, 1.27526189, 0.96820134,
       1.18312723, 1.06588474, 0.81099113, 1.06570972, 1.00072385,
       1.16538017, 1.20670939, 0.92594604, 0.92709762, 1.18797904,
       0.84269855, 1.19590828, 1.12262434, 0.90365525, 1.02075451,
       0.91268169, 1.3870541 , 0.85712779, 0.91717518, 1.03856571,
       0.91017029, 0.8268534 , 1.27873155, 1.23532162, 1.1887925 ,
       2.0440615 , 1.61740315, 1.19925948, 1.28981513, 1.10517766,
       1.18764919, 0.91205893, 0.97446099, 1.0264333 , 0.97062006,
       0.96604657, 1.1708019 , 1.22013877, 1.1250057 , 1.15775115,
       1.14909351, 1.23793106, 1.25233747, 1.07501977, 1.39897186,
       0.8951902 , 0.96543112, 1.41342002, 0.91287247, 0.89038446,
       1.21549548, 0.95372514, 1.08051503, 1.14351357, 0.77375411,
       0.87330793, 1.04955601, 1.12639052, 1.04257101, 0.83954207,
       1.02192432, 1.25114311, 0.83184031, 0.96448623, 0.97332146,
       1.00979601, 1.02281264, 1.02092598, 0.75371344, 0.93895212,
       0.86461417, 1.1087762 , 1.02350257, 1.1576647 , 1.19228032,
       1.19449528, 1.26137068, 1.2430698 , 1.13753937, 1.20091857,
       1.11772517, 1.17814902, 0.87950575, 0.96021662, 0.97733949,
       0.99259526, 1.00859285, 1.14549242, 1.14556008, 0.98896489,
       0.97750442, 1.20554557, 0.93472497, 1.22229065, 0.98502008,
       1.06551901, 1.10798515, 0.99092013, 0.93208913, 1.21160976,
       1.10216778, 1.07410903])

In [14]:
housing_df.loc[housing_df_blank_bool, 'average_bedrooms'] = predictions_av_bedrooms

In [15]:
housing_df.head(294)
#Пример для поля 290, заполнилось значением 1.125593

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
0,-122.23,37.88,41.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0,6.984127,1.023810
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0,6.238137,0.971880
2,-122.24,37.85,52.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0,8.288136,1.073446
3,-122.25,37.85,52.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0,5.817352,1.073059
4,-122.25,37.85,52.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0,6.281853,1.081081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,-122.17,37.78,52.0,296.0,121.0,4.1750,144000.0,0,0,0,1,0,5.396694,1.057851
290,-122.16,37.77,47.0,570.0,218.0,4.3750,161900.0,0,0,0,1,0,5.761468,1.127304
291,-122.16,37.77,48.0,446.0,180.0,4.7708,156300.0,0,0,0,1,0,5.427778,1.077778
292,-122.16,37.77,45.0,968.0,384.0,3.5739,176000.0,0,0,0,1,0,6.052083,1.033854
293,-122.16,37.77,39.0,857.0,316.0,3.0958,145800.0,0,0,0,1,0,5.009494,1.104430

In [16]:
#Разбиение датасета на тренировочную, валидационную и тестовую выборку:
housing_train_val, housing_test = train_test_split(housing_df, test_size = 0.1)
housing_train, housing_val = train_test_split(housing_train_val, test_size = 0.1)

In [17]:
#Нормализация признаков longitude и latitude:
#(сделать так, чтобы каждый признак имел среднее значение 0 и дисперсию 1 внутри обучающей выборки)

#Для нормализации данных можно воспользоваться функцией StandardScaler из sklearn.preprocessing. 
#Данные преобразуются так, что их распределение имеет среднее значение 0 и стандартное отклонение 1 (корень из дисперсии).

housing_train[['longitude', 'latitude']] = StandardScaler().fit_transform(housing_train[['longitude', 'latitude']])

housing_test[['longitude', 'latitude']] = StandardScaler().fit_transform(housing_test[['longitude', 'latitude']])

housing_val[['longitude', 'latitude']] = StandardScaler().fit_transform(housing_val[['longitude', 'latitude']])

print("Для признака longitude. Среднее значение тренировочной выборки равно: " + str(housing_train['longitude'].to_numpy().mean(axis = 0)))
print("Для признака longitude. Стандартное отклонение тренировочной выборки равно: " + str(housing_train['longitude'].to_numpy().std(axis = 0)))
print("\n")
print("Для признака latitude. Среднее значение тренировочной выборки равно: " + str(housing_train['latitude'].to_numpy().mean(axis = 0)))
print("Для признака latitude. Стандартное отклонение тренировочной выборки равно: " + str(housing_train['latitude'].to_numpy().std(axis = 0)))

Для признака longitude. Среднее значение тренировочной выборки равно: 1.3069260153501066e-15
Для признака longitude. Стандартное отклонение тренировочной выборки равно: 1.0


Для признака latitude. Среднее значение тренировочной выборки равно: -1.4240180859936689e-15
Для признака latitude. Стандартное отклонение тренировочной выборки равно: 0.9999999999999999

In [18]:
housing_train

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
7479,0.677471,-0.798077,39.0,2286.0,470.0,3.0167,130000.0,1,0,0,0,0,4.087234,1.027660
5674,0.627558,-0.891433,25.0,407.0,159.0,7.6886,500001.0,0,0,0,0,1,6.911950,1.056604
17362,-0.415627,-0.359305,15.0,761.0,240.0,4.9028,193600.0,1,0,0,0,0,6.391667,1.045833
11754,-0.794967,1.456467,14.0,781.0,251.0,6.5322,394000.0,0,1,0,0,0,8.079681,1.015936
2664,-2.097700,2.058613,17.0,899.0,347.0,2.1864,101900.0,1,0,0,0,0,5.818444,1.429395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4715,0.602602,-0.737396,52.0,630.0,252.0,5.5596,500001.0,1,0,0,0,0,6.380952,1.146825
15235,1.156638,-1.250853,36.0,710.0,282.0,10.1768,500001.0,0,0,0,0,1,6.102837,0.936170
8489,0.642532,-0.807413,28.0,1028.0,418.0,2.3043,177500.0,1,0,0,0,0,3.590909,1.066986
1717,-1.368968,1.101715,32.0,1233.0,418.0,4.0437,162800.0,0,0,0,1,0,5.442584,0.949761
12498,-0.939715,1.363111,52.0,764.0,369.0,2.9191,111800.0,0,1,0,0,0,4.742547,1.008130