In [1]:
#Задание 1.3
#Для датасета California Housing:
#Разбейте датасет на тренировочную, валидационную и тестовую выборку
#Проведите преобразование категориального признака ocean_proximity через OneHot или Dummy-кодировку
#Замените признаки total_rooms и total_bedrooms на average_rooms и average_bedrooms (поделив на households).
#В признаке average_bedrooms (total_bedrooms) есть отсутствующие значения. 
#Определите число экземпляров данных, для которых этот признак отсутствует. 
#Придумайте и обоснуйте стратегию заполнения пропусков в этой задаче. Заполните пропуски.
#Нормализуйте признаки longitude и latitude (сделайте так, чтобы каждый признак имел среднее значение 0 и дисперсию 1 внутри обучающей выборки)

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [3]:
housing_df = pd.read_csv('CSV_files/housing.csv')
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
#Преобразование категориального признака ocean_proximity через Dummy-кодировку
DUMMY_SEP = '__'  #Сепаратор

housing_df = pd.get_dummies(housing_df, columns = ['ocean_proximity'], prefix_sep = DUMMY_SEP)
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0,0

In [5]:
#Замена признаков total_rooms и total_bedrooms на average_rooms и average_bedrooms (поделив на households)
housing_df['average_rooms'] = housing_df['total_rooms'] / housing_df['households']
housing_df['average_bedrooms'] = housing_df['total_bedrooms'] / housing_df['households']

housing_df = housing_df.drop('total_rooms', axis = 1)
housing_df = housing_df.drop('total_bedrooms', axis = 1)

housing_df.head(294)
#Пример: признак отсутствует у поля 290

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
0,-122.23,37.88,41.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0,6.984127,1.023810
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0,6.238137,0.971880
2,-122.24,37.85,52.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0,8.288136,1.073446
3,-122.25,37.85,52.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0,5.817352,1.073059
4,-122.25,37.85,52.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0,6.281853,1.081081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,-122.17,37.78,52.0,296.0,121.0,4.1750,144000.0,0,0,0,1,0,5.396694,1.057851
290,-122.16,37.77,47.0,570.0,218.0,4.3750,161900.0,0,0,0,1,0,5.761468,NaN
291,-122.16,37.77,48.0,446.0,180.0,4.7708,156300.0,0,0,0,1,0,5.427778,1.077778
292,-122.16,37.77,45.0,968.0,384.0,3.5739,176000.0,0,0,0,1,0,6.052083,1.033854
293,-122.16,37.77,39.0,857.0,316.0,3.0958,145800.0,0,0,0,1,0,5.009494,1.104430

In [6]:
#Определить число экземпляров данных, для которых отсутствует признак average_bedrooms
average_bedrooms_blank = sum(housing_df['average_bedrooms'].isnull())
average_bedrooms_blank

207

In [7]:
#Придумать и обосновать стратегию заполнения пропусков. Заполнить пропуски.

#Новый дата-сет без данных с отсутствующим 'average_bedrooms', а также без признака 'median_house_value'
housing_df_new = housing_df.dropna(axis = 0)  
housing_df_new = housing_df_new.drop('median_house_value', axis = 1)

housing_df_new

,longitude,latitude,housing_median_age,population,households,median_income,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
0,-122.23,37.88,41.0,322.0,126.0,8.3252,0,0,0,1,0,6.984127,1.023810
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,0,0,0,1,0,6.238137,0.971880
2,-122.24,37.85,52.0,496.0,177.0,7.2574,0,0,0,1,0,8.288136,1.073446
3,-122.25,37.85,52.0,558.0,219.0,5.6431,0,0,0,1,0,5.817352,1.073059
4,-122.25,37.85,52.0,565.0,259.0,3.8462,0,0,0,1,0,6.281853,1.081081
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,845.0,330.0,1.5603,0,1,0,0,0,5.045455,1.133333
20636,-121.21,39.49,18.0,356.0,114.0,2.5568,0,1,0,0,0,6.114035,1.315789
20637,-121.22,39.43,17.0,1007.0,433.0,1.7000,0,1,0,0,0,5.205543,1.120092
20638,-121.32,39.43,18.0,741.0,349.0,1.8672,0,1,0,0,0,5.329513,1.171920
20639,-121.24,39.37,16.0,1387.0,530.0,2.3886,0,1,0,0,0,5.254717,1.162264

In [8]:
#Разбиение нового дата-сета на тренировочную и тестовую выборку
housing_train_df_new, housing_test_df_new =  train_test_split(housing_df_new, test_size = 0.1)

x_train_df = housing_train_df_new.drop('average_bedrooms', axis = 1)  #Вход для тренировочной
y_train_df = housing_train_df_new['average_bedrooms']   #Выход для тренировочной

x_test_df = housing_test_df_new.drop('average_bedrooms', axis = 1)   #Вход для тестовой
y_test_df = housing_test_df_new['average_bedrooms']    #Выход для тестовой

#Модель линейной регрессии
linear_regression_model = LinearRegression()

#Обучение модели с помощью fit
linear_regression_model.fit(x_train_df, y_train_df)

LinearRegression()

In [9]:
#Абсолютная оценка регрессионной модели
mean_absolute_error(y_train_df, linear_regression_model.predict(x_train_df))

0.1134773187451385

In [10]:
#Среднеквадратическая оценка регрессионной модели 
mean_squared_error(y_train_df, linear_regression_model.predict(x_train_df))

0.0311592124181072

In [11]:
#Записи, для которых отсутсвтует признак 'average_bedrooms' (только столбец 'average_bedrooms', булевые значения)
housing_df_blank_bool = housing_df['average_bedrooms'].isnull()
housing_df_blank_bool

0        False
1        False
2        False
3        False
4        False
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Name: average_bedrooms, Length: 20640, dtype: bool

In [12]:
#Полные записи, для которых отсутсвтует признак 'average_bedrooms'
housing_df_blank = housing_df.loc[housing_df_blank_bool]
housing_df_blank

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
290,-122.16,37.77,47.0,570.0,218.0,4.3750,161900.0,0,0,0,1,0,5.761468,NaN
341,-122.17,37.75,38.0,732.0,259.0,1.6196,85100.0,0,0,0,1,0,3.830116,NaN
538,-122.28,37.78,29.0,3741.0,1273.0,2.5762,173400.0,0,0,0,1,0,4.048704,NaN
563,-122.24,37.75,45.0,384.0,146.0,4.9489,247100.0,0,0,0,1,0,6.102740,NaN
696,-122.10,37.69,41.0,387.0,161.0,3.9063,178400.0,0,0,0,1,0,4.633540,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3171.0,779.0,3.3409,220500.0,0,0,0,0,1,4.646983,NaN
20268,-119.18,34.19,19.0,1938.0,762.0,1.6953,167400.0,0,0,0,0,1,3.140420,NaN
20372,-118.88,34.17,15.0,1701.0,669.0,5.1033,410700.0,1,0,0,0,0,6.367713,NaN
20460,-118.75,34.29,17.0,2734.0,814.0,6.6073,258100.0,1,0,0,0,0,6.771499,NaN
20484,-118.72,34.28,17.0,1705.0,495.0,5.7376,218600.0,1,0,0,0,0,6.163636,NaN

In [13]:
#Отбрасываем признаки 'median_house_value' и 'average_bedrooms'
housing_df_blank = housing_df_blank.drop(['median_house_value', 'average_bedrooms'], axis = 1)
housing_df_blank

,longitude,latitude,housing_median_age,population,households,median_income,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms
290,-122.16,37.77,47.0,570.0,218.0,4.3750,0,0,0,1,0,5.761468
341,-122.17,37.75,38.0,732.0,259.0,1.6196,0,0,0,1,0,3.830116
538,-122.28,37.78,29.0,3741.0,1273.0,2.5762,0,0,0,1,0,4.048704
563,-122.24,37.75,45.0,384.0,146.0,4.9489,0,0,0,1,0,6.102740
696,-122.10,37.69,41.0,387.0,161.0,3.9063,0,0,0,1,0,4.633540
...,...,...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3171.0,779.0,3.3409,0,0,0,0,1,4.646983
20268,-119.18,34.19,19.0,1938.0,762.0,1.6953,0,0,0,0,1,3.140420
20372,-118.88,34.17,15.0,1701.0,669.0,5.1033,1,0,0,0,0,6.367713
20460,-118.75,34.29,17.0,2734.0,814.0,6.6073,1,0,0,0,0,6.771499
20484,-118.72,34.28,17.0,1705.0,495.0,5.7376,1,0,0,0,0,6.163636

In [14]:
#Заполнение пропусков в задаче
#Массив полученных с помощью регрессии данных для заполнения 207 пустых значений
predictions_av_bedrooms = linear_regression_model.predict(housing_df_blank)
predictions_av_bedrooms

array([1.12738959, 1.0388876 , 0.99889442, 1.13028168, 0.95638128,
       1.1317489 , 1.06041417, 0.9810664 , 1.05505929, 1.21777895,
       1.12167073, 0.96295551, 1.13022919, 1.06929176, 0.98954378,
       1.14977182, 1.00659119, 1.00050988, 0.88778775, 1.30734535,
       1.17117847, 1.25663512, 1.18843098, 1.1041631 , 1.87777821,
       1.10728122, 0.89334951, 0.83944123, 1.09424513, 0.93308205,
       1.07303015, 1.06183119, 1.10327009, 1.15154571, 0.70841772,
       1.16363181, 0.93012211, 0.91342554, 0.78709035, 1.0370477 ,
       0.83807272, 1.00602288, 0.90435845, 0.78047001, 0.81960202,
       0.82633637, 0.81732969, 1.01397624, 0.71746785, 1.18405346,
       1.18156121, 0.99115448, 1.40825315, 1.14262261, 1.0726541 ,
       1.18833692, 0.94032058, 1.05000424, 1.02376026, 1.06990562,
       0.98327953, 0.97306375, 1.04906482, 1.19238249, 1.14692659,
       1.1909025 , 1.10416152, 1.11915967, 0.98992572, 1.05111074,
       1.04418141, 0.63122892, 0.98553509, 0.89222881, 0.99437138,
       1.22794509, 1.16777382, 0.98184995, 0.89330752, 0.93651188,
       0.93208172, 0.88978569, 1.14434965, 1.06269625, 1.06191751,
       1.18987306, 0.94260342, 1.21560899, 0.96708057, 1.17262202,
       1.04339058, 1.24798994, 1.08579967, 1.23513216, 1.09976762,
       1.14997958, 0.85767503, 1.01853489, 1.20113597, 1.24935079,
       1.09832502, 1.02287136, 0.87968926, 1.27567556, 0.96777399,
       1.1818146 , 1.06560013, 0.80902963, 1.06546278, 1.00284264,
       1.16473336, 1.20541393, 0.93309418, 0.92771668, 1.18740299,
       0.8427871 , 1.19537549, 1.12388961, 0.90401379, 1.02085144,
       0.913609  , 1.38617445, 0.85832004, 0.91831337, 1.03959123,
       0.90973771, 0.82692796, 1.27787158, 1.23642409, 1.18772676,
       2.04041362, 1.61576822, 1.19839887, 1.28927696, 1.10514538,
       1.18779412, 0.91240455, 0.97425234, 1.02589584, 0.97172307,
       0.96589255, 1.16917896, 1.22105664, 1.12528199, 1.15715486,
       1.14967352, 1.23707564, 1.25291902, 1.07487091, 1.39688898,
       0.89534111, 0.96509628, 1.41282911, 0.91408093, 0.89133549,
       1.21680368, 0.95478445, 1.0817621 , 1.14286397, 0.77699866,
       0.8738558 , 1.05034655, 1.12603156, 1.04355031, 0.84002545,
       1.02203192, 1.25053064, 0.83596089, 0.96514333, 0.97356966,
       1.0103388 , 1.0238683 , 1.01978437, 0.75426473, 0.93921086,
       0.86505121, 1.11290842, 1.02348885, 1.15736863, 1.19371532,
       1.19725721, 1.26190409, 1.24256659, 1.13810501, 1.20044354,
       1.11975758, 1.17778545, 0.87977552, 0.96298511, 0.97714003,
       0.99362307, 1.00785504, 1.14549348, 1.14607443, 0.98876636,
       0.97950149, 1.20468345, 0.93510628, 1.22136985, 0.98655922,
       1.06501   , 1.10859344, 0.99524225, 0.93402782, 1.21100125,
       1.10353639, 1.07455642])

In [15]:
housing_df.loc[housing_df_blank_bool, 'average_bedrooms'] = predictions_av_bedrooms

In [16]:
housing_df.head(294)
#Пример для поля 290, заполнилось значением 1.125593

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
0,-122.23,37.88,41.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0,6.984127,1.023810
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0,6.238137,0.971880
2,-122.24,37.85,52.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0,8.288136,1.073446
3,-122.25,37.85,52.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0,5.817352,1.073059
4,-122.25,37.85,52.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0,6.281853,1.081081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,-122.17,37.78,52.0,296.0,121.0,4.1750,144000.0,0,0,0,1,0,5.396694,1.057851
290,-122.16,37.77,47.0,570.0,218.0,4.3750,161900.0,0,0,0,1,0,5.761468,1.127390
291,-122.16,37.77,48.0,446.0,180.0,4.7708,156300.0,0,0,0,1,0,5.427778,1.077778
292,-122.16,37.77,45.0,968.0,384.0,3.5739,176000.0,0,0,0,1,0,6.052083,1.033854
293,-122.16,37.77,39.0,857.0,316.0,3.0958,145800.0,0,0,0,1,0,5.009494,1.104430

In [17]:
#Разбиение датасета на тренировочную, валидационную и тестовую выборку:
housing_train_val, housing_test = train_test_split(housing_df, test_size = 0.1)
housing_train, housing_val = train_test_split(housing_train_val, test_size = 0.1)

In [18]:
#Нормализация признаков longitude и latitude:
#(сделать так, чтобы каждый признак имел среднее значение 0 и дисперсию 1 внутри обучающей выборки)

#Для нормализации данных можно воспользоваться функцией StandardScaler из sklearn.preprocessing. 
#Данные преобразуются так, что их распределение имеет среднее значение 0 и стандартное отклонение 1 (корень из дисперсии).

housing_train[['longitude', 'latitude']] = StandardScaler().fit_transform(housing_train[['longitude', 'latitude']])

housing_test[['longitude', 'latitude']] = StandardScaler().fit_transform(housing_test[['longitude', 'latitude']])

housing_val[['longitude', 'latitude']] = StandardScaler().fit_transform(housing_val[['longitude', 'latitude']])

print("Для признака longitude. Среднее значение тренировочной выборки равно: " + str(housing_train['longitude'].to_numpy().mean(axis = 0)))
print("Для признака longitude. Стандартное отклонение тренировочной выборки равно: " + str(housing_train['longitude'].to_numpy().std(axis = 0)))
print("\n")
print("Для признака latitude. Среднее значение тренировочной выборки равно: " + str(housing_train['latitude'].to_numpy().mean(axis = 0)))
print("Для признака latitude. Стандартное отклонение тренировочной выборки равно: " + str(housing_train['latitude'].to_numpy().std(axis = 0)))

Для признака longitude. Среднее значение тренировочной выборки равно: -4.7688986521092264e-15
Для признака longitude. Стандартное отклонение тренировочной выборки равно: 1.0


Для признака latitude. Среднее значение тренировочной выборки равно: -2.7753583350361614e-16
Для признака latitude. Стандартное отклонение тренировочной выборки равно: 1.0

In [19]:
housing_train

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
17766,-1.134550,0.795069,27.0,1505.0,391.0,2.5769,137500.0,1,0,0,0,0,3.787724,1.046036
10935,0.836434,-0.889547,25.0,1066.0,189.0,4.7679,173100.0,1,0,0,0,0,4.275132,0.862434
314,-1.304204,0.991607,41.0,522.0,159.0,1.2083,72500.0,0,0,0,1,0,5.792453,1.301887
18516,-1.219377,0.626607,44.0,657.0,219.0,3.2368,212500.0,0,0,0,0,1,5.264840,1.086758
595,-1.249316,0.968210,38.0,1784.0,652.0,4.8237,220900.0,0,0,0,1,0,5.699387,1.007669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12985,-0.860109,1.412761,32.0,1292.0,454.0,3.3188,117100.0,0,1,0,0,0,6.420705,1.083700
15460,1.140813,-1.165636,11.0,952.0,448.0,4.0625,87500.0,0,0,0,0,1,5.714286,0.993304
12456,2.483078,-0.945701,16.0,2434.0,824.0,2.6797,86500.0,0,1,0,0,0,4.540049,0.972087
273,-1.309194,1.000966,45.0,869.0,327.0,4.5893,163500.0,0,0,0,1,0,5.400612,1.015291
6698,0.736637,-0.702367,26.0,3001.0,1505.0,3.6572,213200.0,1,0,0,0,0,4.160797,1.093023